
<div class="container-fluid" ng-init="getAllInviteData();">
  <div class="row">
    <div class="col-md-12 ">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-lg-2"><h4>{{'user invite ' |translate}}</h4></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="box box-info">
            <div class="box-body">
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;">

              <div class="col-sm-5 col-xs-6 tital ">{{'email' |translate}}</div>
              <input type="text" ng-model="inviteduser.email" value="{{inviteduser.email}}" class="col-sm-7 col-xs-6 ">

              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">{{'role' |translate}}</div>
              <select class="selectpicker"    id="{{user.id}}_user_role" selected="4" ng-disabled="user.role_id>2" >
                <option  ng-repeat="role in roles "  ng-if="user.role_id<=role.role_id"   value="{{role.role_id}}">{{role.role_name |translate}}</option>
              </select>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital " ></div>
              <button type="button" class="btn highpots_red pull-right" ng-click="inviteUser(inviteduser);"  >{{'invite user' | translate}}</button>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
