.dropdown-menu {
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}


.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  cursor: pointer;
}
