ul.nav li.dropdown:hover ul.dropdown-menu{

  display: block;
  margin-top:0px;
}
.show>.drop_height {
  height:100px;
}

#DIV_1 {
  bottom: -35px;
  box-sizing: border-box;
  color: rgb(140, 137, 137);
  height: 35px;
  position: absolute;
  right: 0px;
  text-decoration: none solid rgb(140, 137, 137);
  text-size-adjust: 100%;
  top: 0px;
  width: 35px;
  column-rule-color: rgb(140, 137, 137);
  perspective-origin: 17.5px 17.5px;
  transform-origin: 17.5px 17.5px;
  caret-color: rgb(140, 137, 137);
  border-top: 35px solid rgb(54, 56, 57);
  border-right: 0px none rgb(140, 137, 137);
  border-bottom: 0px none rgb(140, 137, 137);
  border-left: 35px solid rgba(0, 0, 0, 0);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(140, 137, 137) none 0px;
}/*#DIV_1*/

#A_2 {
  box-sizing: border-box;
  color: rgb(191, 191, 191);
  text-decoration: none solid rgb(191, 191, 191);
  text-size-adjust: 100%;
  column-rule-color: rgb(191, 191, 191);
  caret-color: rgb(191, 191, 191);
  border: 0px none rgb(191, 191, 191);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(191, 191, 191) none 0px;
}/*#A_2*/

#A_2:after {
  bottom: 17px;
  color: rgb(255, 255, 255);
  /*  content: '+';*/
  display: block;
  height: 16px;
  left: -17px;
  position: absolute;
  right: 1px;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  top: -33px;
  width: 16px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 8px 8px;
  transform-origin: 8px 8px;
  caret-color: rgb(255, 255, 255);
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 16px / normal IcoMoon;
  outline: rgb(255, 255, 255) none 0px;
}/*#A_2:after*/

#SPAN_3 {
  bottom: 1px;
  box-sizing: border-box;
  clip: rect(0px 0px 0px 0px);
  color: rgb(191, 191, 191);
  display: block;
  height: 1px;
  left: 0px;
  position: absolute;
  right: 1px;
  text-decoration: none solid rgb(191, 191, 191);
  text-size-adjust: 100%;
  top: 0px;
  width: 1px;
  column-rule-color: rgb(191, 191, 191);
  perspective-origin: 0.5px 0.5px;
  transform-origin: 0.5px 0.5px;
  caret-color: rgb(191, 191, 191);
  border: 0px none rgb(191, 191, 191);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  margin: -1px;
  outline: rgb(191, 191, 191) none 0px;
  overflow: hidden;
}/*#SPAN_3*/









#HEADER_1 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  z-index: 5;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 951.5px 22px;
  transform-origin: 951.5px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#HEADER_1*/

#DIV_2 {
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  height: 44px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 951.5px 22px;
  transform-origin: 951.5px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_2*/

#DIV_3 {
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  display: none;
  height: auto;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  width: auto;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_3*/

#DIV_4 {
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  height: 44px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  backface-visibility: hidden;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 951.5px 22px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 951.5px 22px;
  caret-color: rgb(116, 116, 116);
  background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
  /* padding: 0px 30px;*/
  transition: background-color 0.25s ease-in-out 0s;
}/*#DIV_4*/

#DIV_5 {
  width: 100%;
  bottom: 0px;
  box-sizing: border-box;

  margin-left: 80px;
  color: rgb(116, 116, 116);
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 800px 22px;
  transform-origin: 800px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";

  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_5*/

#DIV_5:after {
  clear: both;
  color: rgb(116, 116, 116);

  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  column-rule-color: rgb(116, 116, 116);
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_5:after*/

#DIV_5:before {
  color: rgb(116, 116, 116);
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  column-rule-color: rgb(116, 116, 116);
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_5:before*/
.fusion-row:after, .fusion-row:before {
  content: " ";
  display: table;
}
#DIV_6 {
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  float: left;
  height: 44px;
  max-width: 100%;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 78.5px 22px;
  transform-origin: 78.5px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_6*/

#DIV_6:after {
  clear: both;
  color: rgb(116, 116, 116);

  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  column-rule-color: rgb(116, 116, 116);
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_6:after*/

#DIV_6:before {
  color: rgb(116, 116, 116);
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  column-rule-color: rgb(116, 116, 116);
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_6:before*/

#A_7 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  height: 44px;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  width: 157px;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 78.5px 22px;
  transform-origin: 78.5px 22px;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(51, 51, 51) none 0px;
}/*#A_7*/

#IMG_8 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  height: 44px;

  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  vertical-align: top;
  width: 157px;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 78.5px 22px;
  transform-origin: 78.5px 22px;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(51, 51, 51) none 0px;
}/*#IMG_8*/

#IMG_9 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: none;

  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  vertical-align: top;
  column-rule-color: rgb(51, 51, 51);
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(51, 51, 51) none 0px;
}/*#IMG_9*/

#NAV_10 {
  width: 70%;
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  float: left;
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;

  z-index: 200;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 402.719px 22px;
  transform-origin: 402.719px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  margin: 0px 0px 0px 45px;
  outline: rgb(116, 116, 116) none 0px;

}/*#NAV_10*/

#UL_11 {
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;

  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 402.719px 0px;
  transform-origin: 402.719px 0px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  margin: 0px;
  outline: rgb(116, 116, 116) none 0px;
  padding: 0px;
}/*#UL_11*/

#LI_12 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  float: left;
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  width: 80.3594px;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 40.1719px 22px;
  transform-origin: 40.1719px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(116, 116, 116) none 0px;
  padding: 0px 45px 0px 0px;
}/*#LI_12*/

#A_13 {

  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 44px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  width: 35.3594px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 62.25px 22px;
  transform-origin: 62.25px 22px;
  caret-color: rgb(255, 255, 255);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(255, 255, 255);
  border-bottom: 0px none rgb(255, 255, 255);
  border-left: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 41px "Antic Slab";
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;


}/*#A_13*/

#SPAN_14 {

  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  column-rule-color: rgb(255, 255, 255);
  caret-color: rgb(255, 255, 255);
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 41px "Antic Slab";
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;


}/*#SPAN_14*/

#LI_15 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  float: left;
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 84.75px 22px;
  transform-origin: 84.75px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(116, 116, 116) none 0px;
  overflow: hidden;
  padding: 0px 45px 0px 0px;
}/*#LI_15*/

#A_16 {
  font-family: "Antic Slab";
  font-size: 14px;
  font-weight: normal;
  line-height: 41px;
  text-decoration: none solid(230,67,47);
  text-align: left;
  word-spacing: 0px;

  color: white;

  height: auto;
  width: auto;
  outline: rgb(255,0,0) none 0px;
  box-sizing: border-box;

  display: inline;
  transform: none;
  transition: all 0s ease 0s;

  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 44px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 62.25px 22px;
  transform-origin: 62.25px 22px;
  caret-color: rgb(255, 255, 255);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(255, 255, 255);
  border-bottom: 0px none rgb(255, 255, 255);
  border-left: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 41px "Antic Slab";
  list-style: none outside none;
  outline: rgb(255, 0, 0) none 0px;
}/*#A_16*/

#SPAN_17, #SPAN_38, #SPAN_41, #SPAN_44, #SPAN_47, #SPAN_50 {
  box-sizing: border-box;
  text-align: left;
  text-decoration: none solid rgb(230, 67, 47);
  font-family: "Antic Slab";

  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_17, #SPAN_38, #SPAN_41, #SPAN_44, #SPAN_47, #SPAN_50*/

#UL_18 {
  box-shadow: rgba(0, 0, 0, 0.0588235) 1px 1px 30px 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  display: none;
  height: auto;
  left: 0px;
  opacity: 0;
  position: absolute;
  text-align: left;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  visibility: hidden;
  width: 180px;
  z-index: 1;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(116, 116, 116);
  background: rgb(242, 239, 239) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 3px solid rgb(230, 67, 47);
  border-right: 0px none rgb(116, 116, 116);
  border-bottom: 0px none rgb(116, 116, 116);
  border-left: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  margin: 0px;
  outline: rgb(116, 116, 116) none 0px;
  padding: 0px;
  transition: opacity 0.2s ease-in 0s;
}/*#UL_18*/

#LI_19, #LI_24, #LI_28, #LI_32 {
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  height: auto;
  position: relative;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  visibility: hidden;
  width: auto;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(116, 116, 116) none 0px;
}/*#LI_19, #LI_24, #LI_28, #LI_32*/

#A_20, #A_25, #A_29, #A_33 {
  color: rgb(211, 211, 211);
  display: block;
  text-align: left;
  text-decoration: none solid rgb(211, 211, 211);
  text-size-adjust: 100%;
  visibility: hidden;
  column-rule-color: rgb(211, 211, 211);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(211, 211, 211);
  border-top: 0px none rgb(211, 211, 211);
  border-right: 0px none rgb(211, 211, 211);
  border-bottom: 1px solid rgb(220, 218, 219);
  border-left: 0px none rgb(211, 211, 211);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(211, 211, 211) none 0px;
  padding: 7px 20px;
  transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, height 0s ease 0s, line-height 0s ease 0s;
}/*#A_20, #A_25, #A_29, #A_33*/

#SPAN_21, #SPAN_22, #SPAN_26, #SPAN_30, #SPAN_34 {
  box-sizing: border-box;
  color: rgb(211, 211, 211);
  text-align: left;
  text-decoration: none solid rgb(211, 211, 211);
  text-size-adjust: 100%;
  visibility: hidden;
  column-rule-color: rgb(211, 211, 211);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(211, 211, 211);
  border: 0px none rgb(211, 211, 211);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(211, 211, 211) none 0px;
}/*#SPAN_21, #SPAN_22, #SPAN_26, #SPAN_30, #SPAN_34*/

#UL_23 {
  box-shadow: rgba(0, 0, 0, 0.0588235) 1px 1px 30px 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  display: none;
  height: auto;
  left: 180px;
  opacity: 0;
  position: absolute;
  text-align: left;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: -3px;
  visibility: hidden;
  width: 180px;
  z-index: 1;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(116, 116, 116);
  background: rgb(242, 239, 239) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 3px solid rgb(230, 67, 47);
  border-right: 0px none rgb(116, 116, 116);
  border-bottom: 0px none rgb(116, 116, 116);
  border-left: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  margin: 0px;
  outline: rgb(116, 116, 116) none 0px;
  padding: 0px;
  transition: opacity 0.2s ease-in 0s;
}/*#UL_23*/

#SPAN_27, #SPAN_31 {
  box-sizing: border-box;
  color: rgb(211, 211, 211);
  text-align: left;
  text-decoration: none solid rgb(211, 211, 211);
  text-size-adjust: 100%;
  visibility: hidden;
  column-rule-color: rgb(211, 211, 211);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(211, 211, 211);
  border: 0px none rgb(211, 211, 211);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(211, 211, 211) none 0px;
}/*#SPAN_27, #SPAN_31*/

#SPAN_35 {
  box-sizing: border-box;
  color: rgb(211, 211, 211);
  text-align: left;
  text-decoration: none solid rgb(211, 211, 211);
  text-size-adjust: 100%;
  visibility: hidden;
  column-rule-color: rgb(211, 211, 211);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(211, 211, 211);
  border: 0px none rgb(211, 211, 211);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(211, 211, 211) none 0px;
}/*#SPAN_35*/

#LI_36 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  float: left;
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  width: 166.859px;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 83.4219px 22px;
  transform-origin: 83.4219px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(116, 116, 116) none 0px;
  padding: 0px 45px 0px 0px;
}/*#LI_36*/

#A_37 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 44px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  width: 121.859px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 60.9219px 22px;
  transform-origin: 60.9219px 22px;
  caret-color: rgb(255, 255, 255);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(255, 255, 255);
  border-bottom: 0px none rgb(255, 255, 255);
  border-left: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 41px "Antic Slab";
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#A_37*/

#LI_39 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  float: left;
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  width: 74.7344px;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 37.3594px 22px;
  transform-origin: 37.3594px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(116, 116, 116) none 0px;
  padding: 0px 45px 0px 0px;
}/*#LI_39*/

#A_40 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 44px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  width: 29.7344px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 14.8594px 22px;
  transform-origin: 14.8594px 22px;
  caret-color: rgb(255, 255, 255);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(255, 255, 255);
  border-bottom: 0px none rgb(255, 255, 255);
  border-left: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 41px "Antic Slab";
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#A_40*/

#LI_42 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  float: left;
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  width: 114.453px;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 57.2188px 22px;
  transform-origin: 57.2188px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(116, 116, 116) none 0px;
  padding: 0px 45px 0px 0px;
}/*#LI_42*/

#A_43 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 44px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  width: 69.4531px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 34.7188px 22px;
  transform-origin: 34.7188px 22px;
  caret-color: rgb(255, 255, 255);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(255, 255, 255);
  border-bottom: 0px none rgb(255, 255, 255);
  border-left: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 41px "Antic Slab";
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#A_43*/

#LI_45 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  float: left;
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  width: 94.0313px;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 47.0156px 22px;
  transform-origin: 47.0156px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(116, 116, 116) none 0px;
  padding: 0px 45px 0px 0px;
}/*#LI_45*/

#A_46 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 44px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  width: 49.0313px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 24.5156px 22px;
  transform-origin: 24.5156px 22px;
  caret-color: rgb(255, 255, 255);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(255, 255, 255);
  border-bottom: 0px none rgb(255, 255, 255);
  border-left: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 41px "Antic Slab";
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#A_46*/

#LI_48 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  float: left;
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  width: 91.4844px;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 45.7344px 22px;
  transform-origin: 45.7344px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(116, 116, 116) none 0px;
  padding: 0px 45px 0px 0px;
}/*#LI_48*/

#A_49 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 44px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  width: 46.4844px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 23.2344px 22px;
  transform-origin: 23.2344px 22px;
  caret-color: rgb(255, 255, 255);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(255, 255, 255);
  border-bottom: 0px none rgb(255, 255, 255);
  border-left: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 41px "Antic Slab";
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#A_49*/

#LI_51 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  cursor: pointer;
  float: left;
  height: 44px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  width: 14px;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 7px 22px;
  transform-origin: 7px 22px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  outline: rgb(116, 116, 116) none 0px;
}/*#LI_51*/

#A_52 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: flex;
  width: 20px;
  height: 44px;
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  column-rule-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  perspective-origin: 7px 22px;
  transform-origin: 7px 22px;
  caret-color: rgb(255, 255, 255);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-right: 0px none rgb(255, 255, 255);
  border-bottom: 0px none rgb(255, 255, 255);
  border-left: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 14px icomoon;
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#A_52*/

#SPAN_53 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  height: 15px;
  min-height: auto;
  min-width: auto;
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  width: 14px;
  column-rule-color: rgb(255, 255, 255);
  align-self: center;
  perspective-origin: 7px 7.5px;
  transform-origin: 7px 7.5px;
  caret-color: rgb(255, 255, 255);
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 14px icomoon;
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_53*/

#I_54 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 14px;
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  width: 14px;
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 7px 7px;
  transform-origin: 7px 7px;
  caret-color: rgb(255, 255, 255);
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 14px FontAwesome;
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#I_54*/

#I_54:before {
  color: rgb(255, 255, 255);
  content: '';
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  column-rule-color: rgb(255, 255, 255);
  caret-color: rgb(255, 255, 255);
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 14px FontAwesome;
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#I_54:before*/

#SPAN_55 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: none;
  min-height: auto;
  min-width: auto;
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  column-rule-color: rgb(255, 255, 255);
  align-self: center;
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(255, 255, 255);
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 14px / 14px icomoon;
  list-style: none outside none;
  outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_55*/

#DIV_56 {
  box-sizing: border-box;
  color: rgb(116, 116, 116);
  display: none;
  height: auto;
  position: relative;
  right: 0px;
  text-align: right;
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  top: 0px;
  vertical-align: middle;
  width: auto;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_56*/

#A_57 {
  box-sizing: border-box;
  color: rgb(218, 218, 218);
  display: block;
  float: right;
  speak: none;
  text-align: right;
  text-decoration: none solid rgb(218, 218, 218);
  text-size-adjust: 100%;
  column-rule-color: rgb(218, 218, 218);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(218, 218, 218);
  border: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 21px / 21px icomoon;
  margin: 0px 0px 0px 20px;
  outline: rgb(218, 218, 218) none 0px;
}/*#A_57*/

#A_57:before {
  color: rgb(218, 218, 218);
  content: '""';
  speak: none;
  text-align: right;
  text-decoration: none solid rgb(218, 218, 218);
  text-size-adjust: 100%;
  column-rule-color: rgb(218, 218, 218);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(218, 218, 218);
  border: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 21px / 21px icomoon;
  outline: rgb(218, 218, 218) none 0px;
}/*#A_57:before*/

#NAV_58 {
  box-sizing: border-box;
  clear: both;
  color: rgb(51, 51, 51);
  display: none;
  height: auto;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  width: auto;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(51, 51, 51) none 0px;
}/*#NAV_58*/

#UL_59 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: none;
  height: auto;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  width: auto;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border-top: 1px solid rgb(218, 218, 218);
  border-right: 0px none rgb(218, 218, 218);
  border-bottom: 0px none rgb(218, 218, 218);
  border-left: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  list-style: none outside none;
  margin: 0px;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px;
}/*#UL_59*/

#LI_60, #LI_63, #LI_68, #LI_74, #LI_78, #LI_82, #LI_86, #LI_89, #LI_92, #LI_95, #LI_98, #LI_101 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  height: auto;
  position: relative;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  width: auto;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / normal "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
}/*#LI_60, #LI_63, #LI_68, #LI_74, #LI_78, #LI_82, #LI_86, #LI_89, #LI_92, #LI_95, #LI_98, #LI_101*/
.a_active:hover {
  color: #e6432f !important;
  border-color: #e6432f !important;
}
#A_61 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  height: 35px;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  background: rgb(246, 246, 246) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(218, 218, 218);
  border-right: 0px none rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 30px;
}/*#A_61*/

#SPAN_62, #SPAN_66, #SPAN_71, #SPAN_76, #SPAN_80, #SPAN_84, #SPAN_88, #SPAN_91, #SPAN_94, #SPAN_97, #SPAN_100 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_62, #SPAN_66, #SPAN_71, #SPAN_76, #SPAN_80, #SPAN_84, #SPAN_88, #SPAN_91, #SPAN_94, #SPAN_97, #SPAN_100*/

#SPAN_64, #SPAN_69 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: block;
  height: 35px;
  position: absolute;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  width: 50px;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 35px 0px 0px;
}/*#SPAN_64, #SPAN_69*/

#SPAN_64:before, #SPAN_69:before {
  color: rgb(51, 51, 51);
  content: '""';
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 35px icomoon;
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_64:before, #SPAN_69:before*/

#A_65, #A_87, #A_93, #A_99 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  height: 35px;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  background: rgb(249, 249, 249) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(218, 218, 218);
  border-right: 0px none rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 30px;
}/*#A_65, #A_87, #A_93, #A_99*/

#UL_67, #UL_73 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: none;
  height: auto;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  width: auto;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / normal "PT Sans";
  list-style: none outside none;
  margin: 0px;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px;
}/*#UL_67, #UL_73*/

#A_70 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  height: 35px;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  background: rgb(249, 249, 249) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(218, 218, 218);
  border-right: 0px none rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 30px 0px 39px;
}/*#A_70*/

#A_70:before {
  color: rgb(51, 51, 51);
  content: '"-"';
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  margin: 0px 2px 0px 0px;
  outline: rgb(51, 51, 51) none 0px;
}/*#A_70:before*/

#SPAN_72, #SPAN_77, #SPAN_81, #SPAN_85 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_72, #SPAN_77, #SPAN_81, #SPAN_85*/

#A_75, #A_79 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  height: 35px;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  background: rgb(249, 249, 249) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(218, 218, 218);
  border-right: 0px none rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 30px 0px 48px;
}/*#A_75, #A_79*/

#A_75:before, #A_79:before {
  color: rgb(51, 51, 51);
  content: '"--"';
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  margin: 0px 2px 0px 0px;
  outline: rgb(51, 51, 51) none 0px;
}/*#A_75:before, #A_79:before*/

#A_83 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  height: 35px;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  background: rgb(249, 249, 249) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(218, 218, 218);
  border-right: 0px none rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 30px 0px 48px;
}/*#A_83*/

#A_83:before {
  color: rgb(51, 51, 51);
  content: '"--"';
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  margin: 0px 2px 0px 0px;
  outline: rgb(51, 51, 51) none 0px;
}/*#A_83:before*/

#A_90, #A_96 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  height: 35px;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  background: rgb(249, 249, 249) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(218, 218, 218);
  border-right: 0px none rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 12px / 35px "PT Sans";
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 30px;
}/*#A_90, #A_96*/

#A_102 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  height: 35px;
  speak: none;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  background: rgb(249, 249, 249) none repeat scroll 0% 0% / auto padding-box border-box;
  border-top: 0px none rgb(218, 218, 218);
  border-right: 0px none rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  border-left: 0px none rgb(218, 218, 218);
  font: normal normal normal normal 12px / 35px icomoon;
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 30px;
}/*#A_102*/

#SPAN_103 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: none;
  speak: none;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  width: 26px;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 35px icomoon;
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_103*/

#I_104 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: inline-block;
  speak: none;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 12px FontAwesome;
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
}/*#I_104*/

#I_104:before {
  color: rgb(51, 51, 51);
  content: '""';
  speak: none;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 12px FontAwesome;
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
}/*#I_104:before*/

#SPAN_105 {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: none;
  speak: none;
  text-align: left;
  text-decoration: none solid rgb(51, 51, 51);
  text-size-adjust: 100%;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  caret-color: rgb(51, 51, 51);
  border: 0px none rgb(51, 51, 51);
  font: normal normal normal normal 12px / 35px icomoon;
  list-style: none outside none;
  outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_105*/

#DIV_106 {
  box-sizing: border-box;
  clear: both;
  color: rgb(116, 116, 116);
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  column-rule-color: rgb(116, 116, 116);
  perspective-origin: 951.5px 0px;
  transform-origin: 951.5px 0px;
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_106*/

#DIV_106:after {
  clear: both;
  color: rgb(116, 116, 116);
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  column-rule-color: rgb(116, 116, 116);
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_106:after*/

#DIV_106:before {
  color: rgb(116, 116, 116);
  text-decoration: none solid rgb(116, 116, 116);
  text-size-adjust: 100%;
  column-rule-color: rgb(116, 116, 116);
  caret-color: rgb(116, 116, 116);
  border: 0px none rgb(116, 116, 116);
  font: normal normal normal normal 13px / 19.5px "PT Sans";
  outline: rgb(116, 116, 116) none 0px;
}/*#DIV_106:before*/

