<div class="container-fluid" ng-init="getAllData()">


  <table class="table table-bordered">
    <thead>
    <tr class="highpots_red">
      <th>{{'functions and tasks' | translate}}</th>
      <th ng-repeat="role in roles">{{role.role_name | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="resource in resources">
      <td ng-show="resource.titlename" id="resourceid_{{resource.resource_id}}_roleid_title" colspan="7" class="right_title">{{resource.titlename | translate}}</td>
      <td ng-show="!resource.titlename" id="resourceid_{{resource.resource_id}}_roleid_resource"  class="right_not_title" >{{resource.resource_desc | translate}}</td>
      <td ng-show="!resource.titlename" >
        <select class="selectpicker"
                name="role_1"
                id="resourceid_{{resource.resource_id}}_roleid_1"
                multiple title="Das Recht"
                ng-disabled="user.role_id>1"
                 >
          <option value="1">{{'read'| translate}}</option>
          <option value="2">{{'edit' |translate}}</option>
          <option value="3">{{'write' |translate}}</option>
          <option value="4">{{'delete' |translate}}</option>
        </select>
      </td>
      <td ng-show="!resource.titlename" >
        <select class="selectpicker"
                name="role_2"
                id="resourceid_{{resource.resource_id}}_roleid_2"
                ng-disabled="user.role_id>1"
                multiple title="Das Recht">
          <option value="1">{{'read'| translate}}</option>
          <option value="2">{{'edit' |translate}}</option>
          <option value="3">{{'write' |translate}}</option>
          <option value="4">{{'delete' |translate}}</option>
        </select>
      </td>
      <td ng-show="!resource.titlename" >
        <select class="selectpicker" name="role_6"
                id="resourceid_{{resource.resource_id}}_roleid_6"
                multiple title="Das Recht"
                ng-disabled="user.role_id>1">
          <option value="1">{{'read'| translate}}</option>
          <option value="2">{{'edit' |translate}}</option>
          <option value="3">{{'write' |translate}}</option>
          <option value="4">{{'delete' |translate}}</option>
        </select>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="continer" ng-show="user.role_id==1">
    <button type="button"class="btn pull-right col-lg-2" ng-click="saveOrUpdateResourceRights()" >{{'save' | translate}}</button>
  </div>
</div>
