<div class="container-fluid" ng-init="getAllData()">
  <table class="table table-bordered">
    <thead>
    <tr class="highpots_red">
      <th>{{'User' | translate}}</th>
      <th >{{'company name'| translate }}</th>
      <th>{{'email' | translate}}</th>
      <th >{{'Role'| translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
      <td   >
        {{user.firstname}} {{user.lastname}}
      </td>
      <td>
        {{user.company_name}}
      </td >
      <td   >
        {{user.username}}
      </td >
      <td >

        <select class="selectpicker"   id="{{user.id}}_user_role" selected="4" ng-disabled="user.role_id>2" >
          <option  ng-repeat="role in roles "  ng-if="user.role_id<=role.role_id"   value="{{role.role_id}}">{{role.role_name |translate}}</option>
        </select>
      </td>
    </tr>

    </tbody>
  </table>
  <div class="continer">
    <button type="button"class="btn pull-right col-lg-2" ng-click="saveOrUpdateUserRole(users)" >{{'save' | translate}}</button>
  </div>
</div>
