<div class="container-fluid" ng-init="getUser();getRole();">
    <div class="row">
      <div class="col-md-12 ">
        <div class="panel panel-default">
          <div class="panel-heading">  <h4 >{{'User' |translate}}</h4></div>
          <div class="panel-body">
            <div class="box box-info">
              <div class="box-body">
                <div class="col-sm-6">
                  <h4 style="color:#00b1b1;">{{user.firstname}} {{user.lastname}}</h4></span>
                </div>
                <div class="clearfix"></div>
                <hr style="margin:5px 0 5px 0;">
                <div class="col-sm-5 col-xs-6 tital " >{{'Genre' |translate}} </div>
                <form>
                  <div>
                    <input type="radio" id="mr_gender" ng-checked="user.gender=='Herr'"  ng-model="user.gender"
                           name="contact" value="Herr">
                    <label for="mr_gender">{{'Mr'|translate}}</label></label>

                    <input type="radio" id="mrs_gender"
                           name="contact" value="Frau" ng-checked="user.gender=='Frau'" ng-model="user.gender">
                    <label for="mrs_gender">{{'Mrs'|translate}}</label></label>
                  </div>
                </form>

                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital " >{{'firstname' |translate}}</div><input type="text" ng-model="user.firstname" value="{{user.firstname}}" class="col-sm-7 col-xs-6 ">
                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital " >{{'lastname' |translate}}</div><input type="text" ng-model="user.lastname" value="{{user.lastname}}" class="col-sm-7">
                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital " >{{'company name' |translate}}</div><input type="text" ng-model="user.company_name" value="{{user.company_name}}  " class="col-sm-7">
                <div class="clearfix"></div>
                <div class="bot-border"></div>


                <div class="col-sm-5 col-xs-6 tital " >
                  <button type="button" class="btn" ng-click="goto('account');"  >{{'back' | translate}}</button>


                </div>

                <button type="button" class="btn highpots_red pull-right" ng-click="updateUser();"  >{{'save' | translate}}</button>
                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

