<div class="container message_text"  ng-init="goBackTime();">
	<!--ng-init="goBackTime();"-->
	<div>
		<p>Lieber Kunde,</p>
	</div>
	<div><p>
		die Registrierung ist nun abgeschlossen und wir haben einen persönlichen Bereich für Sie eingerichtet. 
		<div> Vielen Dank für Ihre Registrierung.</div></p>
	</div>
	<div>
		<p>Ihr</p>
	</div>
	<div>
		<p>HighPots-Vertriebsteam</p>
	</div>
	<a href ="/account">
	<div class="a-section a-spacing-extra-large col-sm-6 pull-right">
		<span class="a-button a-button-span12 a-button-primary" id="a-autoid-0">
			<span class="a-button-inner">

				<span class="a-button-text" aria-hidden="true" id="a-autoid-0-announce">
					{{'go back to login'|translate}}
				</span>
			</span>
		</span>
	</div>
	</a> 
</div>
</div>
