<div class="container" ng-init="goBackTime();">

	<div>
		<p>„Lieber Herr / Frau XY,</p>
	</div>
	<div><p>

		die Registrierung ist nun abgeschlossen und wir haben einen persönlichen Bereich für Sie eingerichtet. Vielen Dank für Ihre Registrierung.</p>
	</div>
	<div>
		<p>Ihr</p>
	</div>
	<div>
		<p>HighPots-Vertrieb“</p>
	</div>
	<div>
		<p>	Die Webseite sollte nach 5 Sekunden automatisch zur Login-Seite weiterleiten. Darüber hinaus sollte die Webseite auch über einen Button „zum Login“ verfügen.</p>
	</div>
</div>
