 <form name="loginform" role="form"  ng-controller="LoginCtrl" class=""   ng-submit=""  novalidate>
  <div class="col-lg-12">
    <div class="col-md-4 col-md-offset-4">
      <div class="a-section auth-pagelet-container box_length">
        <div ng-show="hasError" class="a-section">
          <div id="auth-error-message-box" class="a-box a-alert a-alert-error auth-server-side-message-box a-spacing-base">
            <div class="a-box-inner a-alert-container">
            <h4 class="a-alert-heading orange">{{'one problem' | translate}}
              </h4>
              <i class="a-icon a-icon-alert">
              </i>
              <div class="a-alert-content">
                <ul class="a-nostyle a-vertical a-spacing-none">
                  <li>
                    <span class="a-list-item">
                     {{message}}
                   </span>
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
       <div class="a-section">
        <div class="a-box center-block box_length">
          <div class="a-box-inner a-padding-extra-large">
            <h1 class="a-spacing-small">
              {{'login' | translate}}
            </h1>
            <!-- optional subheading element -->
            <div class="a-row a-spacing-base">
              <label for="ap_email">
                {{'email' | translate}}
              </label>
              <input ng-model="login.email" type="email" ng-maxlength="128" id="ap_email" name="email" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" required>
              <div ng-show="loginform.email.$touched && loginform.email.$invalid"  id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
                <div class="a-box-inner a-alert-container">
                  <i class="a-icon a-icon-alert">

                  </i>
                  <div class="a-alert-content">
                   {{'write your email' | translate}} 
                 </div>
               </div>
             </div>
           </div>
           <input type="hidden"  ng-model="login.password2" name="create" value="0">
           <div class="a-section a-spacing-large">
            <div class="a-row">
              <div class="a-column a-span5">
                <label for="ap_password">
                 {{'password' | translate}} 
               </label>
             </div>
             <div class="a-column a-span7 a-text-right a-span-last">
              <a id="auth-fpp-link-bottom" class="a-spacing-null a-link-normal" ng-href="#!/lostpass">
                {{'lost password' | translate}} 
              </a>
            </div>
          </div>
          <input type="password"  ng-model="login.password" id="ap_password"   name="password" tabindex="2" class="a-input-text a-span12 auth-required-field" required>
          <div ng-show="loginform.password.$touched && loginform.password.$invalid"  id="auth-password-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
            <div class="a-box-inner a-alert-container">
              <i class="a-icon a-icon-alert">
              </i>
              <div  class="a-alert-content">
               {{'write your password'| translate}}
             </div>
           </div>
         </div>
       </div>
       <div class="a-section a-spacing-extra-large">
        <span class="a-button a-button-span12 a-button-primary" id="a-autoid-0">
          <span class="a-button-inner">
            <input  ng-click="submitForm(loginform.password.$valid && loginform.email.$valid);" id="signInSubmit" tabindex="5" class="a-button-input" type="submit" aria-labelledby="a-autoid-0-announce">
            <span class="a-button-text" aria-hidden="true" id="a-autoid-0-announce">
              {{'login' | translate}} 
            </span>
          </span>
        </span>
      </div>
      <div class="a-divider a-divider-break">
        <h5>   {{'new at Highpots?' | translate}}</h5>
      </div>
      <span id="auth-create-account-link" class="a-button a-button-span12">
        <span class="a-button-inner">
          <a id="createAccountSubmit" tabindex="6" href="" class="a-button-text" role="button">
            {{'new account' | translate}}
          </a>
        </span>
      </span>
    </div>
  </div>
</div>
</div>
</div>
</div>
</form>
