
<div class="conainer message_text">
	<div class="col-lg-4 col-lg-offset-4">
		<div>
			<p>Lieber {{account.gender}} {{account.firstname}} {{account.lastname}},</p>
		</div>
		<div>
			<span>vielen Dank für Ihre Registrierung, über die wir uns sehr freuen. </span>
		</div>
		<div>
			<p>
				Wir haben Ihnen soeben eine E-Mail mit einem Bestätigungs-Link zugesandt.


			</p>
		</div>
		<div >
			<p>
				Sollten Sie die Mail nicht in Ihrem Posteingang finden, sehen Sie doch bitte auch in Ihrem Spam-Ordner nach.
			</p>
		</div>
		<div>
			<p>Wir wünschen Ihnen viel Erfolg und Freude mit unseren Lösungen.</p>
		</div>
		<div>
			<p>	Bei Fragen stehen wir Ihnen sehr gerne unter vertrieb@highpots.de zur Verfügung.</p>
		</div>
		<div>
			<p>	Herzliche Grüße</p>
		</div>
		<div>
			<p>Ihr HighPots-Vertrieb</p>
		</div>

	</div>
</div>