             <form name="accountform" role="form"   class=""   ng-submit=""  novalidate>
              <div class="col-lg-12">
                <div class="col-md-4 col-md-offset-4">
                  <div class="a-section auth-pagelet-container box_length">
                    <div ng-show="hasError" class="a-section">
                      <div id="auth-error-message-box" class="a-box a-alert a-alert-error auth-server-side-message-box a-spacing-base">
                        <div class="a-box-inner a-alert-container">
                          <h4 class="a-alert-heading orange">{{'one problem' | translate}}
                          </h4>
                          <i class="a-icon a-icon-alert">
                          </i>
                          <div class="a-alert-content">
                            <ul class="a-nostyle a-vertical a-spacing-none">
                              <li>
                                <span class="a-list-item">
                                 {{message}}
                               </span>
                             </li>
                           </ul>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="a-section">
                    <div class="a-box center-block box_length">
                      <div class="a-box-inner a-padding-extra-large">
                        <h1 class="a-spacing-small">
                          {{'create Account' | translate}}
                        </h1>
                        <!-- optional subheading element -->
                        <div class="a-row a-spacing-base">
                          <label for="ap_firstname">
                            {{'Please enter your first name' | translate}}
                          </label>
                          <input ng-model="account.firstname" type="text" ng-maxlength="128" id="ap_firstname" name="firstname" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" required>
                          <div ng-show="accountform.firstname.$touched && accountform.firstname.$invalid"  id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
                            <div class="a-box-inner a-alert-container">
                              <i class="a-icon a-icon-alert">
                              </i>
                              <div class="a-alert-content">
                               {{'Please enter your first name' | translate}}
                             </div>
                           </div>
                         </div>
                       </div>
                       <!-- optional subheading element -->
                       <div class="a-row a-spacing-base">
                        <label for="ap_lastname">
                          {{'Please enter your last name' | translate}}
                        </label>
                        <input ng-model="account.lastname" type="text" ng-maxlength="128" id="ap_lastname" name="lastname" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" required>
                        <div ng-show="accountform.lastname.$touched && accountform.lastname.$invalid"  id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
                          <div class="a-box-inner a-alert-container">
                            <i class="a-icon a-icon-alert">
                            </i>
                            <div class="a-alert-content">
                             {{'Please enter your last name' | translate}} 
                           </div>
                         </div>
                       </div>
                     </div>

                     <div class="a-section a-spacing-large">
                      <div class="a-row">
                        <div class="a-column a-span5">
                          <label for="ap_password">
                           {{'password' | translate}} 
                         </label>
                       </div>
                     </div>
                     <input type="password"  ng-model="account.password1" id="ap_password"  ng-minlength="8"  name="password1" tabindex="2" class="a-input-text a-span12 auth-required-field" required>
                     <div ng-show="accountform.password1.$touched && accountform.password1.$invalid"  id="auth-password-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
                      <div class="a-box-inner a-alert-container">
                        <i class="a-icon a-icon-alert">
                        </i>
                        <div  class="a-alert-content">
                         {{'write your password'| translate}}
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="a-section a-spacing-large">
                  <div class="a-row">
                    <div class="a-column a-span5">
                      <label for="ap_password">
                       {{'again password' | translate}} 
                     </label>
                   </div>
                 </div>
                 <input type="password"  ng-model="account.password2" id="ap_password" ng-minlength="8"   name="password2" tabindex="2" class="a-input-text a-span12 auth-required-field" required>
                 <div ng-show="accountform.password2.$touched && accountform.password2.$invalid"  id="auth-password-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
                  <div class="a-box-inner a-alert-container">
                    <i class="a-icon a-icon-alert">
                    </i>
                    <div  class="a-alert-content">
                     {{'write your password'| translate}}
                   </div>
                 </div>
               </div>
             </div>
             <div class="a-row a-spacing-base">
              <label for="ap_department">
                {{'In which department are you employed?' | translate}}
              </label>
              <input ng-model="account.department" type="text" ng-maxlength="128" id="ap_department" name="department" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field">

            </div>
            <div class="a-row a-spacing-base">
              <label for="ap_email">
               {{'Your business e-mail address' | translate}}
             </label>
             <input ng-model="account.username" type="email" ng-maxlength="128" id="ap_email" name="username" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" required>
             <div ng-show="accountform.username.$touched && accountform.username.$invalid"  id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
              <div class="a-box-inner a-alert-container">
                <i class="a-icon a-icon-alert">
                </i>
                <div class="a-alert-content">
                  {{'Please enter your business e-mail address' | translate}} 
                </div>
              </div>
            </div>
          </div>
          <div class="a-row a-spacing-base">
            <label for="ap_company_name">
              {{'Which company do you work for?' | translate}}
            </label>
            <input ng-model="account.company_name" type="text" ng-maxlength="128" id="ap_company_name" name="company_name" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" required>
            <div ng-show="accountform.company_name.$touched && accountform.company_name.$invalid"  id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
              <div class="a-box-inner a-alert-container">
                <i class="a-icon a-icon-alert">
                </i>
                <div class="a-alert-content">
                 {{'Please enter your company name' | translate}} 
               </div>
             </div>
           </div>
         </div>
         <div class="a-row a-spacing-base">
          <label for="ap_ustd_id">
            {{'USt.ID' | translate}}
          </label>
          <input ng-model="account.ustd_id" type="text" ng-maxlength="128" id="ap_ustdid" name="ustd_id" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" required>
          <div ng-show="accountform.ustd_id.$touched && accountform.ustd_id.$invalid"  id="auth-email-missing-alert" class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-none a-spacing-top-mini">
            <div class="a-box-inner a-alert-container">
              <i class="a-icon a-icon-alert">
              </i>
              <div class="a-alert-content">
               {{'Please enter your USt.ID' | translate}} 
             </div>
           </div>
         </div>
       </div>
       <div class="a-row a-spacing-base">
        <label for="ap_street">
          {{'street' | translate}}
        </label>
        <input ng-model="account.street" type="text" ng-maxlength="128" id="ap_street" name="street" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" >
      </div>
      <div class="a-row a-spacing-base">
        <label for="ap_ort">
          {{'ort' | translate}}
        </label>
        <input ng-model="account.ort" type="text" ng-maxlength="128" id="ap_ort" name="ort" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" >
      </div>

      <div class="a-row a-spacing-base">
        <label for="ap_plz">
          {{'plz' | translate}}
        </label>
        <input ng-model="account.plz" type="text" ng-maxlength="128" id="ap_plz" name="plz" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" >
      </div>
      <div class="a-row a-spacing-base">
        <label for="ap_phone">
          {{'phone' | translate}}
        </label>
        <input ng-model="account.phone" type="text" ng-maxlength="128" id="ap_phone" name="phone" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field">
      </div>
      <input type="hidden"   name="create" value="0">
      <div class="a-section a-spacing-extra-large">
        <span class="a-button a-button-span12 a-button-primary" id="a-autoid-0">
          <span class="a-button-inner">
            <input  ng-click="saveUser(accountform.$valid);" id="signInSubmit" tabindex="5" class="a-button-input" type="submit" aria-labelledby="a-autoid-0-announce">
            <span class="a-button-text" aria-hidden="true" id="a-autoid-0-announce">
              {{'Create your Highpots account' | translate}} 
            </span>
          </span>
        </span>
      </div>
      <span id="auth-create-account-link" class="a-button a-button-span12">
        <span class="a-button-inner">
          <a id="createAccountSubmit" tabindex="6" href="#!/" class="a-button-text" role="button">
            {{'abort' | translate}}
          </a>
        </span>
      </span>
    </div>
  </div>
</div>
</div>
</div>
</div>
</form>
