
<div class="conainer">
	<div class="col-lg-4 col-lg-offset-4">
		<div>
			<p> <a href="#/info">Webseite „Information über Zusendung eines Bestätigungslinks via E-Mail“</a></p>
		</div>
		<div>
			<p>„Lieber {{account.gender}} {{account.firstname}} {{account.lastname}},</p>
		</div>
		<div>
			<span>vielen Dank für Ihre Registrierung, über die wir uns sehr freuen. </span>
		</div>
		<div>
			<span>
				Wir haben Ihnen soeben eine E-Mail mit einem Bestätigungs-Link zugesandt. Sollten Sie die Mail nicht in Ihrem Posteingang finden, sehen Sie doch bitte auch in Ihrem Spam-Ordner nach.
			</span>
		</div>
		<div>
			<span>Wir wünschen Ihnen viel Erfolg und Freude mit unseren Lösungen.</span>
		</div>
		<div>
			<p>	Bei Fragen stehen wir Ihnen sehr gerne unter vertrieb@highpots.de zur Verfügung.</p>
		</div>
		<div>
			<p>	Herzliche Grüße</p>
		</div>
		<div>
			<p>Ihr HighPots-Vertrieb“</p>
		</div>
		<div>
			Die Webseite kann vom User durch einen Klick auf den Button „Schließen“ geschlossen werden.
		</div>
		<div>
			<p>*die E-Mail-Adresse vertrieb@highpots.de muss noch auf dem Mail-Server eingerichtet werden.</p>
		</div>
		<div> 
			<p>Registrierungs-Bestätigungs-E-Mail</p>
		</div>
		<div>
		<span>Ähnlich wie bei der Gamification erhält der User nun eine Bestätigungs-E-Mail, in welcher er auf einen Link klicken muss (der Link ist zeitlich unbegrenzt gültig).</span>
		</div>
		<div>
			<span>	Die Bestätigungs-Email kommt von registrierung@highpots.de</span>
		</div>
		<div>
			<span>*die E-Mail-Adresse registrierung@highpots.de muss noch auf dem Mail-Server eingerichtet werden.</span>
		</div>
	</div>
</div>