<div class='container'>
	<div>
		<p>
			Hallo Herr / Frau XY,
		</p>
		<p>
			Sie haben die Registrierung nun beinahe abgeschlossen, - vielen Dank für Ihre Geduld und Ihre Mitarbeit.
		</p>
		<span>
			Bitte klicken Sie nun abschließend auf folgenden Link:
			<div>
				<a href=".$url.">
					<span>
						Link zur E-Mail-Adress-Bestätigung
					</span>
				</a>
			</div>
		</p>
		<div>
			<p>
				Wir wünschen Ihnen viel Erfolg und Freude mit unseren Lösungen.
			</p>
		</div>
		<div>
			<span>
				Dies ist eine automatisch erstellte Nachricht. Eine Nachricht an diese Mail-Adresse kann leider nicht gelesen und beantwortet werden.
			</span>
		</div>
		<div>
			<p>
				Sollten Sie weitere Fragen oder Anregungen haben, schreiben Sie uns bitte unter vertrieb@highpots.de. Wir stehen Ihnen sehr gerne zur Verfügung.
			</p>
		</div>
		<div>
			<p>
				Ihr HighPots Vertriebsteam“
			</p>
		</div>
	</div>
</div>

